.main-container{
  margin: 20px;  
}
.main-container .MuiCard-root{
  box-shadow: 5px 10px lightgray;
}
.select-option{
  display: inline-flex;
  align-items: center;
}
.dropdown-header{
color: black;
}
.custom-tooltip{
  background-color: white;
  padding: 8px;
  border:1px solid lightgray;
}
